
.container {
	width: 70%;
	height: 720px;
	position: relative;
	margin-right: auto;
	margin-left: auto; 
	overflow: hidden;
}

.Slides {
	display: block;
	max-width:100%;
	height: auto;
	position: absolute;
}
.leftBtn {
	position: absolute;
	padding: 10px 15px;
	bottom: 0;
	left:0;
}
.rightBtn {
	position: absolute;
	padding: 10px 15px;
	bottom: 0;
	right: 0;
}
.autoBtn {
	position: absolute;
	padding: 10px 32px;
	bottom: 0;
	left:50%
}
